body
{
	background-color: #efefef;
	color:white;
	margin: 0;
	font-size: 14px;
	color: #333;
	line-height: 21px;
	font-family: 'avenirregular', sans-serif;
}
nav.navbar-default
{
	border-radius: 0px;
	background: #e7e7e7;
}

.info-panel
{
	font-size: 21px;
	font-weight: 700;
	border: solid 1px #DDD;
	padding: 5px;
	background-color: #e7e7e7;
	width: 100% !important;
}
.info-half
{
	width: calc(50% - 2px) !important;
	display: inline-block;
}
.info-group
{
	
	margin-top: 15px;
	overflow: hidden;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: red;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.info-title
{
	display: block;
	margin-bottom: 20px;
	background-color: #fff;
	font-size: 32px;
	padding: 5px;
	height: 38px;
	line-height: 28px;
	text-transform:uppercase;
	overflow: hidden;
	margin: -5px;
	margin-bottom: 5px;
}
.info-body
{
	min-height: 84px;
}
.progress, .progress-bar
{
	height: 38px;
}
div.data
{
	display: block;
	position: relative;
	font-size: 3.3em;
	height: 1.0em;
	line-height: 0.8em;
	text-shadow: 1px 1px RGBA(0,0,0,0.4);
}

.remote-group
{
	margin-top: 15px;
	background-color: #333;
	border-radius: 15px;
	min-height: 300px;
	width: 100%;
	display: inline-block;
	position: relative;
	padding:15px;
}
.remote-power-toggle img
{
	display: inline-block;
}
.remote-power-toggle
{
	background-color: #373737;
	border-radius: 15px;
	display: inline-block;
	font-size: 4.3em;
	line-height: 2.0em;
	font-weight: 900;
}
.direction
{
	height:430px;
	width: 450px;
	background-color: #aeaeae;
	display: inline-block;
	text-align: center;
	background: url(dragframe2.png);
	background-repeat: no-repeat;
	overflow: none;
}
.thumb-pad
{
	height:150px;
	width: 150px;
	border-radius: 75px;
	background-color: black;
	color: red;
	border:solid 2px #00b7de;
	font-size: 2.0em;
	cursor: pointer;
	position: absolute;
}
#status
{
	font-weight: 500;
	font-size: 1.4em;
	color:#333;
}

.leds-group
{

}
.active-light
{
	border: solid 3px red;
}




#dir-text
{
	color: white;
}

@media only screen and (max-device-width: 768px) {
	#information {
		width: 100% !important;
	}
	#remote-control {
		width: 100% !important;
	}
}